.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%; /* !important for responsive */
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  color: #e05ef1;
  position: relative;
  left: 25rem;
}

/* !GRID PARA RESPONSIVE */
.movies {
  list-style: none;
  padding-top: 2rem;
  padding-left: 18.5rem;
  width: 100%;
  gap: 45px; /*separacion entre elementos*/
  /* !important for responsive */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  padding-bottom: 0;
  margin: 0;
}

.movie img {
  border-radius: 8px;
  margin-top: 10px;
  max-width: 250px;
}

input {
  position: relative;
  left: 20em;
  width: 215px;
}

button {
  position: relative;
  left: 20em;
}

.error {
  position: relative;
  left: 19rem;
}

.check {
  position: relative;
  left: 10px;
}